.modal-backdrop {
    background-color: var(--off-black);
}

.modal-content {
    background-color: var(--main-app-color);
}

.modal-text {
    color: var(--off-white);
}

.top-modal {
    display: flex;
}

.top-modal-item {
    flex: 1 1 0px;
}

.top-modal-rating-icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.top-modal-rating-icon img {
    width: 100%;
    height: 100%;
    max-width: 8rem;
    max-height: 8rem;
}


.building-info-image {
    position: relative;
}
  
.building-info-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.building-info-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}