.header-bar {
    background-color: var(--main-app-color);
}

.rounded {
    border-top: 5px solid var(--off-black);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 0px var(--off-black);
    -moz-box-shadow: 0px 0px 0px 0px var(--off-black);
    box-shadow: 0px 0px 0px 0px var(--off-black);
}

.header-text {
    color: var(--off-white);
}