body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #32A8FE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* mapbox css */
.map-container {
  position:fixed;
  width: 100%;
  height:91vh;
}

.marker {
  background-image: url('marker.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.accessibility-marker {
  background-image: url('accessibility-marker.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font: 'Helvetica', 'Montserrat Subrayada';
  height: auto;
  position: relative;
}

h1, p{
  color: white;
}

header{
  background-color: #32A8FE;
  padding: 0.75em; 
}
.map-section{
  background-color: #32A8FE;
}

.mapboxgl-canvas-container{
  height: 650px;
  color:#32A8FE;
}

.mapboxgl-control-container{
  color:#32A8FE;
}

a{
  color: white;
  size: 0.25em;
}

.header-bar{
  display: flex;
}

.header-bar-component{
  flex: 1;
  justify-content: space-between;
}

.app-name-section{
  color: #EDFAFD;
  font-size: 36px;
  justify-content: center;
  float: center;
  text-align: center;
}

.header-button {
  width: 4rem;
  font-size: 2rem;
  height: 4rem;
  color: #EDFAFD;
}

.header-button:hover {
	transform: scale(1.1);
	transition: .1s;
}

.clickable-button-look {
  cursor: pointer;
	transition: all .2s ease-in-out;
}

.clickable-button-look:hover {
	transform: scale(1.1);
	transition: .1s;
}


.info-button-section{
  float: left;
  display: flex;
}

.info-button{
  width: 3rem;
  font-size: 1.5rem;
  height: 3rem;
  position: relative;
  float: left;
}

.login-button-section{
  float: right;
  display: flex;

}

.login-button{
  position: relative;
  float: right;
}

.user-icon{
  width: 5rem;
  font-size: 3rem;
  height: rem;
  float: right;
  display: right;
}
